@model IEnumerable<termsModel>
<div class="col-md-12">
    <div class="card patients-list">
        <div class="header">
            <h2><strong>قائمة</strong> بنود العقد</h2>
            <ul class="header-dropdown">
            </ul>
        </div>
        <div class="body">
            <!-- Nav tabs -->
            @Html.Partial("_search")
            <!-- Tab panes -->
            <div class="tab-content m-t-10">
                <div class="tab-pane table-responsive active" id="All">
                    <table class="table m-b-0 table-hover">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>@Html.DisplayNameFor(a => a.DescAr)</th>
                                <th>@Html.DisplayNameFor(a => a.DescEn)</th>
                                <th>تفاصيل</th>
                                <th>حذف</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                int count = 1;
                            }
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@count</td>
                                    <td>@item.DescAr</td>
                                    <td>@item.DescEn</td>
                                    <td><a href="@Url.Content("~/terms/edit/")@item.Id" style="height: 25px;" class="btn btn-primary btn-round"><i class="zmdi zmdi-edit" style="color: white;margin-top: -10px;"></i></a></td>
                                    <td>
                                        <a href="javascript:Delete('terms',@item.Id,'Delete','Index')" class="btn btn-danger btn-sm">حذف</a>
                                    </td>
                                </tr>
                                count++;
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>