@model FarmerVideosModel

<script src="~/assets/js/jquery-3.2.1.min.js"></script>
<script>

    var farmerVideosCheckbox = new Array();

    $(document).ready(function () {
        $(".farmerVideosCheckbox").on("change", function () {
            if (this.checked) {
                farmerVideosCheckbox.push(this.id);
            }
            else {
                var i = farmerVideosCheckbox.indexOf(this.id);
                farmerVideosCheckbox.slice(i, 1);
            }
        });

       
        $("#btnDeleteVideo").on("click", function () {
            if (farmerVideosCheckbox.length == 0)
                return alert("الرجاء اختيار فيدوهات");
            $.post('@Url.Content("~/Farmers/DeleteFarmsVideo")', { Ids: farmerVideosCheckbox.toString() }, function (result) {
                if (result == 1) {
                    alert("تم الحذف بنجاح");
                    window.location.reload();
                } else {
                    alert(result);
                }
            });
        });

        $("#btnActiveOrNotVideo").on("click", function () {
            if (farmerVideosCheckbox.length == 0)
                return alert("الرجاء اختيار فيدوهات");
            $.post('@Url.Content("~/Farmers/EditActiveOrNotVideo")', { Ids: farmerVideosCheckbox.toString() }, function (result) {
                if (result == 1) {
                    alert("تم التحديث بنجاح");
                    window.location.reload();
                } else {
                    alert(result);
                }
            });
        });


        $("#btnSelectAll").on("click", function () {
            farmerVideosCheckbox = new Array(); 
            var elem = document.getElementsByClassName('farmerVideoCheckbox');
            for (var index = 0; index < elem.length; index++) {
                if (elem[index].checked) {
                    elem[index].checked = false;
                }
                else {
                    elem[index].checked = true;
                    farmerImageCheckbox.push(elem[index].id);
                }
                   
            }
        });

    })

</script>

<div class="col-md-12">
    <div class="card patients-list">
        <div class="header">
            <h2>فيدوهات المزارع  - <strong>@Model.FarmerName</strong> </h2>
            <ul class="header-dropdown">
            </ul>
        </div>
        <div class="body">
            <!-- Tab panes -->
            <div class="tab-content m-t-10">
                <div class="tab-pane table-responsive active" id="All">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group" style="margin-top: -10px;">
                                    <button type="button" id="btnDeleteVideo" class="btn btn-primary btn-round">
                                        تحديد الفيدوهات التي تريد حذفها
                                    </button>
                                    <button type="button" id="btnActiveOrNotVideo" class="btn btn-primary btn-round">
                                        تحديد الفيدوهات التي الموافقه عليها او لا
                                    </button>
                                    <button type="button" id="btnSelectAll" class="btn btn-primary btn-round">
                                       تحديد الكل
                                    </button>
                                </div>
                            </div>
                            <table class="table m-b-0 table-hover">
                                <thead style="background-color:#FD9C4E;color:white">
                                    <tr>
                                        <th>#</th>
                                        <th>فيديو</th>
                                        <th>فعال او لا</th>
                                        <th> تحديد </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.Videos)
                                    {
                                    <tr>
                                        <td>@item.Id</td>
                                        <td>
                                            <a href="@Url.Content("~/Videos/")@item.Url" target="_blank">
                                                <img width="120" height="120" src="@Url.Content("~/Videos/")@item.Url" />
                                            </a>
                                        </td>
                                        <td> <span class="badge badge-@(item.Active ? "success" : "danger")">@(item.Active ? "موافق عليها" : "غير موافق عليها")</span></td>
                                        <td><input class="farmerVideoCheckbox" type="checkbox" id="@item.Id" /></td>
                                    </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>