@using MazraeatiBackOffice.Configuration;
@model IEnumerable<FarmerModel>
<style>
    #All thead th {
        position: sticky;
        top: 0;
        background: #198754; /* نفس لون الهيدر */
        color: #fff;
        z-index: 10;
    }

</style>
<div class="col-md-12">
    <div class="card patients-list">
        <div class="header">
            <h2><strong>قائمة</strong> المزارع</h2>
            <ul class="header-dropdown">
            </ul>
        </div>
        <div class="body">
            <!-- Nav tabs -->
            <form action="" method="post">

                <div class="row clearfix">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <input id="searchInput" type="text" name="search" value="@ViewBag.search" placeholder="الكلمة المفتاحية" class="form-control" />
                        </div>
                    </div>

                    <div class="col-sm-3" style="margin-top:1px">
                        <select class="form-control" name="CityBy" id="citySelect">
                            <option selected="selected" value="0">--الرجاء اختيار  المدينة--</option>
                            @foreach (var item in ViewBag.cities)
                            {
                                <option selected="@(item.Id == ViewBag.CityBy)" value="@item.Id">@item.DescAr</option>
                            }
                        </select>
                    </div>

                    <div class="col-sm-3">
                        <div class="form-group">
                            فلتر عن تاريخ الحجز
                            <input class="text-box single-line" data-val="true" data-val-required="يرجى تعبئه الحقل" id="@ViewBag.ReservationDate" name="ReservationDate" type="datetime-local" value="@ViewBag.DefaultDate">
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="form-group" style="margin-top: -10px;">
                            <button type="submit" class="btn btn-primary btn-round">بحث</button>
                        </div>
                    </div>

                    @* <div class="col-sm-2">
                        <div class="form-group" style="margin-top: -10px;">
                            <button type="button" onclick="window.location.href='@Url.Content("~/Farmers/FarmerExcel'")" class="btn btn-primary btn-round">تصدير جميع البيانات</button>
                        </div>
                    </div> *@


                    <div class="col-sm-2">
                        <div class="form-group" style="margin-top: -10px;">
                            <button id="exportButton" type="button" class="btn btn-primary btn-round">تصدير جميع البيانات</button>
                        </div>
                    </div> 


                    @* <div class="col-sm-2">
                        <div class="form-group" style="margin-top: -10px;">
                            <button type="button" id="exportButton" class="btn btn-primary btn-round">تصدير جميع البيانات</button>
                        </div>
                    </div>

                    <form id="exportForm" action="@Url.Action("FarmerExcel", "Farmers")" method="get" style="display:none;">
                        <input type="hidden" name="search" id="exportSearchInput" />
                        <input type="hidden" name="CityBy" id="exportCitySelect" />
                        <input type="hidden" name="ReservationDate" id="exportReservationDateInput" />
                    </form> *@

                    <div class="col-sm-2" style="pointer-events:none">
                        <div class="form-group" style="margin-top: -10px;">
                            <label class="btn btn-primary btn-round" style="color:white"> العدد الاجمالي :  @Model.Count()</label>
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="form-group" style="margin-top: -10px;">
                            <a href="@Url.Action("Create")" class="btn btn-primary btn-round">اضافة سجل جديد</a>
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="form-group" style="margin-top: -10px;">
                            <a href="@Url.Action("Index")" class="btn btn-primary btn-round">تفضية الحقول</a>
                        </div>
                    </div>

                </div>

            </form>
            <!-- Tab panes -->
            <div class="tab-content m-t-10">
                <div class="tab-pane table-responsive active" id="All" style="height:270px; overflow-y:auto;">
                    <table class="table m-b-0 table-hover">
                        <thead style="position: sticky;top: 0;z-index: 999;">
                            <tr>
                                <th>@Html.DisplayNameFor(a => a.CountryDesc)</th>
                                <th>@Html.DisplayNameFor(a => a.CityDesc)</th>
                                <th>@Html.DisplayNameFor(a => a.MobileNumber)</th>
                                <th>@Html.DisplayNameFor(a => a.UserName)</th>
                                <th>@Html.DisplayNameFor(a => a.statusFarmAppUser)</th>
                                <th>@Html.DisplayNameFor(a => a.Name)</th>
                                <th>@Html.DisplayNameFor(a => a.Number)</th>
                                <th>@Html.DisplayNameFor(a => a.IsTrust)</th>
                                <th>@Html.DisplayNameFor(a => a.IsVIP)</th>
                                <th>@Html.DisplayNameFor(a => a.IsApprove)</th>
                                <th>تفاصيل</th>
                                <th>حجوزات المزارع</th>
                                <th>ملاحظات المزارع</th>
                                <th>تعديل الصور</th>
                                <th>تعديل الفيدوهات</th>
                                <th>حذف</th>
                                <th>معلومات الادمن</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                            <tr>
                                <td>@item.CountryDesc</td>
                                <td>@item.CityDesc</td>
                                <td>@item.MobileNumber</td>
                                <td>@item.UserName</td>
                                <td>@(((FarmAppUserStatus?)item.statusFarmAppUser).ToArabic())</td>
                                <td>
                                    @(item.Name)
                                    <span style="color:red"> @(item.ReservationCount > 0 ?  "( "+ item.ReservationCount + " ) حجز " : "")  </span> 
                                    <span style="color:red"> @(item.FeedbackCount > 0 ? " - ( " + item.FeedbackCount + " ) تقييمات " : "")  </span>
                                </td>
                                <td>@item.Number</td>
                                <td>@(item.IsTrust == true ? "نعم" : "لا" )</td>
                                <td>@(item.IsVIP == true ? "نعم" : "لا" )</td>
                                <td>@(item.IsApprove == true ? "نعم" : "لا" )</td>
                                <td><a href="@Url.Content("~/Farmers/edit/")@item.Id" style="height: 25px;" class="btn btn-primary btn-round"><i class="zmdi zmdi-edit" style="color: white;margin-top: -10px;"></i></a></td>
                                <td><a href="@Url.Content("~/FarmerReservation/index?farmerId=")@item.Id" style="height: 25px;" class="btn btn-primary btn-round"><i class="zmdi zmdi-edit" style="color: white;margin-top: -10px;"></i></a></td>
                                <td><a href="@Url.Content("~/FarmerFeedBack/index?farmerId=")@item.Id" style="height: 25px;" class="btn btn-primary btn-round"><i class="zmdi zmdi-edit" style="color: white;margin-top: -10px;"></i></a></td>
                                <td><a href="@Url.Content("~/Farmers/farmerImages/")@item.Id" style="height: 25px;" class="btn btn-primary btn-round"><i class="zmdi zmdi-edit" style="color: white;margin-top: -10px;"></i></a></td>
                                <td><a href="@Url.Content("~/Farmers/FarmerVideos/")@item.Id" style="height: 25px;" class="btn btn-primary btn-round"><i class="zmdi zmdi-edit" style="color: white;margin-top: -10px;"></i></a></td>
                                <td>
                                    <a href="javascript:Delete('Farmers',@item.Id,'Delete','Index')" class="btn btn-danger btn-sm">حذف</a>
                                </td>
                                <td><a href="@Url.Content("~/Farmers/FarmerUser?farmerId=")@item.Id" style="height: 25px;" class="btn btn-primary btn-round"><i class="zmdi zmdi-edit" style="color: white;margin-top: -10px;"></i></a></td>
                            </tr>
                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


@* <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script> *@
@* <script>
    $(document).ready(function () {
        debugger
        $('#exportButton').on('click', function () {
            var search = $('#searchInput').val();
            var cityBy = $('#citySelect').val();
            var reservationDate = $('#reservationDateInput').val();

            var url = '@Url.Action("FarmerExcel", "Farmers")';
            var params = [];

            if (search) {
                params.push('search=' + encodeURIComponent(search));
            }
            if (cityBy && cityBy !== "0") {
                params.push('CityBy=' + encodeURIComponent(cityBy));
            }
            if (reservationDate) {
                params.push('ReservationDate=' + encodeURIComponent(reservationDate));
            }

            if (params.length > 0) {
                url += '?' + params.join('&');
            }

            window.location.href = url;
        });
    });
</script>  *@

    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    @* <script>
        $(function () {
            // Remove the debugger statement unless actively debugging
            // debugger;

            $('#exportButton').on('click', function (e) {
                e.preventDefault(); // Prevent any default form submission if the button was inside a form

                // Get values from the visible search form
                var searchVal = $('#searchInput').val();
                var cityByVal = $('#citySelect').val();
                var reservationDateVal = $('#reservationDateInput').val();

                // Prepare data for the AJAX request
                var requestData = {
                    search: searchVal,
                    CityBy: cityByVal,
                    ReservationDate: reservationDateVal
                };

                // Make the AJAX call
                $.ajax({
                    url: '@Url.Action("FarmerExcel", "Farmers")', // Your action URL
                    type: 'GET', // Or 'POST' if your action expects a POST, but 'GET' is common for downloads
                    data: requestData,
                    xhrFields: { // Important for handling binary file data
                        responseType: 'blob'
                    },
                    success: function (blob, status, xhr) {
                        // Get the filename from the Content-Disposition header, if available
                        var filename = "Farmers.xlsx"; // Default filename
                        var disposition = xhr.getResponseHeader('Content-Disposition');
                        if (disposition && disposition.indexOf('attachment') !== -1) {
                            var filenameRegex = /filename[^;=\n]*=((['"]).*?\2|[^;\n]*)/;
                            var matches = filenameRegex.exec(disposition);
                            if (matches != null && matches[1]) {
                                filename = decodeURIComponent(matches[1].replace(/['"]/g, ''));
                            }
                        }

                        // Create a Blob URL and trigger the download
                        var url = window.URL.createObjectURL(blob);
                        var a = document.createElement('a');
                        a.href = url;
                        a.download = filename; // Set the filename for download
                        document.body.appendChild(a);
                        a.click();
                        window.URL.revokeObjectURL(url); // Clean up the Blob URL
                        $(a).remove(); // Remove the temporary link
                    },
                    error: function (xhr, status, error) {
                        console.error("Error exporting Excel:", error);
                        alert("An error occurred during export. Please try again.");
                    }
                });
            });
        });
    </script> *@

@* <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>*@
<script src="~/assets/js/export_farmers_data_in_excel_seheet.js"></script>



