@* @using Microsoft.AspNetCore.Http; *@
<!doctype html>
<html class="no-js " lang="en">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>محجوز - لوحة التحكم</title>
    <!--<link rel="icon" href="@Url.Content("~/assets/images/favicon.ico")" type="image/x-icon">--> <!-- Favicon-->
    <link rel="stylesheet" href="@Url.Content("~/assets/css/bootstrap.min.css")">
    <link rel="stylesheet" href="@Url.Content("~/assets/css/jquery-jvectormap-2.0.3.min.css")" />
    <link rel="stylesheet" href="@Url.Content("~/assets/css/morris.css")" />
    <!-- Custom Css -->
    <link rel="stylesheet" href="@Url.Content("~/assets/css/main.css")">
    <link rel="stylesheet" href="@Url.Content("~/assets/css/rtl.css")">
    <link rel="stylesheet" href="@Url.Content("~/assets/css/fonts.css")">
    <link rel="stylesheet" href="@Url.Content("~/assets/css/color_skins.css")">
    <link href="@Url.Content("~/assets/css/bootstrap-select.css")" rel="stylesheet" />
    @RenderSection("Styles", required: false)
    <style>
        .table thead th {
            vertical-align: bottom;
            border-bottom: 1px solid #dee2e6;
        }

        .l-green {
            background: linear-gradient( 45deg, #ffcd04, #ffcd04) !important;
        }

        .text-rainbow-animation {
            font-family: arial black;
            font-size: 70px;
            background-image: linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet, red);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            animation: rainbow-animation 150s linear infinite;
        }

        @@keyframes rainbow-animation {
            to {
                background-position: 4500vh;
            }
        }

        table > thead {
            background-color: #007500 !important;
            color: white !important;
        }

       
    </style>

    <script>
        function Delete(controller, id, action, redirectAction) {
            if (action == undefined)
                action = "Index";


            if (confirm("هل انت متأكد من انك تريد الغاء هذا السجل")) {
                $.ajax({
                    url: '../' + controller + '/' + action,
                    data: { id: id },
                    success: function (s) {
                        if (s == 1) {
                            window.location.href = '../' + controller + '/' + redirectAction + '';
                            return;
                        }
                        alert(s);
                    },
                    error: function (e) { }
                });
            }

        }

        function DeleteWithAction(controller, action , id , redirectAction) {
            if (action == undefined)
                action = "Index";

            if (confirm("هل انت متأكد من انك تريد الغاء هذا السجل")) {
                $.ajax({
                    url: '../' + controller + '/' + action,
                    data: { id: id },
                    success: function (s) {
                        if (s == 1) {
                            window.location.href = '../' + controller + '/' + redirectAction + '';
                            return;
                        }
                        alert(s);
                    },
                    error: function (e) { }
                });
            }

        }

        function DeleteFarmerReservationWithParampter(controller, id, action, redirectAction,parampterId) {
            if (action == undefined)
                action = "Index";


            if (confirm("هل انت متأكد من انك تريد الغاء هذا السجل")) {
                $.ajax({
                    url: '../' + controller + '/' + action,
                    data: { id: id },
                    success: function (s) {
                        if (s == 1) {
                            window.location.href = '../' + controller + '/' + redirectAction + '?farmerId=' + parampterId;
                            return;
                        }
                        alert(s);
                    },
                    error: function (e) { }
                });
            }

        }

        function Approve(id) {
            if (confirm("هل انت متأكد من انك تريد انهاء هذا الطلب")) {
                $.ajax({
                    url: '../Home/ApproveRequest',
                    data: { id: id },
                    success: function (s) {
                        if (s == 1) {
                            window.location.reload();
                            return;
                        }
                        alert(s);
                    },
                    error: function (e) { }
                });
            }

        }
    </script>

</head>
<body class="theme-cyan rtl">
    <!-- Page Loader -->
    @*<div class="page-loader-wrapper">
            <div class="loader">
                <div class="m-t-30"><img class="zmdi-hc-spin" src="~/assets/login/images/logo.png" width="48" height="48" alt="Oreo"></div>
                <p>Please wait...</p>
            </div>
        </div>*@
    <!-- Overlay For Sidebars -->
    <div class="overlay"></div>
    <!-- Left Sidebar -->
    <aside id="leftsidebar" class="sidebar">
        <div class="tab-content">
            <div class="tab-pane stretchRight active" id="dashboard">
                <div class="menu">
                    <ul class="list" style="height:100vh !important">
                        <li>
                            <div class="user-info">
                                <br />
                                <div class="image">لوحة التحكم</div>
                                <div class="detail">
                                    <small>اهلا وسهلا</small>
                                    <h4>مدير النظام</h4>
                                </div>
                            </div>
                        </li>
                        <li class="active open"><a href="@Url.Content("~/Home/Index")"><i class="zmdi zmdi-home"></i><span>الصفحة الرئيسية</span></a></li>
                        <li><a href="@Url.Content("~/Country/Index")"><i class="zmdi zmdi-globe"></i><span>المدن</span></a></li>
                        <li><a href="@Url.Content("~/terms/Index")"><i class="zmdi zmdi-globe"></i><span>بنود شروط العقد</span></a></li>
                        <li><a href="@Url.Content("~/City/Index")"><i class="zmdi zmdi-globe"></i><span>المحافظات</span></a></li>
                        <li><a href="@Url.Content("~/ExtraFeature/Index")"><i class="zmdi zmdi-globe"></i><span>مزايا اضافية للمزارع والخدمات الاخرى</span></a></li>
                        <li>
                            <a href="javascript:void(0);" class="menu-toggle"><i class="zmdi zmdi-refresh-sync"></i><span>جداول النظام</span> </a>
                            <ul class="ml-menu">
                                <li><a href="@Url.Content("~/setting/index")">متغيرات النظام</a></li>
                            </ul>
                        </li>
                        <li><a href="@Url.Content("~/Onboarding/Index")"><i class="zmdi zmdi-image"></i><span>Onboarding شاشة</span></a></li>
                        <li><a href="@Url.Content("~/ImageSlider/Index")"><i class="zmdi zmdi-image"></i><span>صور الاعلانات</span></a></li>
                        <li>
                            <a href="javascript:void(0);" class="menu-toggle"><i class="zmdi zmdi-collection-item"></i><span>مزارع - الاردن</span> </a>
                            <ul class="ml-menu">
                                <li><a href="@Url.Content("~/Farmers/Index")">جميع المزارع</a></li>
                                <li><a href="@Url.Content("~/Farmers/FarmerPending")">المزارع غير الموافق عليها</a></li>
                                <li><a href="@Url.Content("~/Farmers/FarmerNotCompletedInfo")">المزارع غير مكتمله المعلومات</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="javascript:void(0);" class="menu-toggle"><i class="zmdi zmdi-collection-item"></i><span>مزارع - سوريا</span> </a>
                            <ul class="ml-menu">
                                <li><a href="@Url.Content("~/FarmersSyria/Index")">جميع المزارع</a></li>
                                <li><a href="@Url.Content("~/FarmersSyria/FarmerPending")">المزارع غير الموافق عليها</a></li>
                                <li><a href="@Url.Content("~/FarmersSyria/FarmerNotCompletedInfo")">المزارع غير مكتمله المعلومات</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="javascript:void(0);" class="menu-toggle"><i class="zmdi zmdi-collection-item"></i><span>قائمة المحظوريين</span> </a>
                            <ul class="ml-menu">
                                <li><a href="@Url.Content("~/CustomerBlackList/Index")">العملاء المحظوريين</a></li>
                                <li><a href="@Url.Content("~/FarmerBlackList/Index")">المزارع المحظوريين</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="javascript:void(0);" class="menu-toggle"><i class="zmdi zmdi-collection-item"></i><span>خدمات اخرى</span> </a>
                            <ul class="ml-menu">
                                <li><a href="@Url.Content("~/TripSection/Index")">انواع الخدمات الاخرى</a></li>
                                @*<li><a href="@Url.Content("~/OrginizeTripProfile/Index")">منظمي حفلات المزارع</a></li>
                <li><a href="@Url.Content("~/InternalExternalTripProfile/Index")">الشركات السياحية</a></li>
                <li><a href="@Url.Content("~/OrginizeTwoTripProfile/Index")">منظمي الرحلات</a></li>
                <li><a href="@Url.Content("~/FootballTrip/Index")"> ملاعب كرة القدم </a></li>
                <li><a href="@Url.Content("~/Trip/Index")"> المسابح </a></li>
                <li><a href="@Url.Content("~/EntertainmentPlaceTrip/Index")"> منتجعات سياحية </a></li>
                <li><a href="@Url.Content("~/RentCarTripProfile/Index")"> شركات تاجير السيارات </a></li>*@
                                @*<li><a href="@Url.Content("~/TripProfile/Index")"> الشركات </a></li>
                <li><a href="@Url.Content("~/TripGeneral/Index")">  الانشطة </a></li>*@
                            </ul>
                        </li>
                        <li><a href="@Url.Content("~/account/SignOut")"><i class="zmdi zmdi-power-off"></i><span> تسجيل خروج </span></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </aside>
    <!-- Main Content -->
    <div id="marqueeBox" class="marquee-container d-none">
        <div class="marquee">
            <span id="TextForEid">كل عام و أنتم بخير عيدكم مبارك و عساكم من عواده</span>
        </div>
    </div>
    <img id="runningLamb" src="~/assets/images/LambForEid.png" alt="Running Lamb" style="position: absolute; display: none; z-index: 9999;">
    @* <audio controls="controls" id="eidTakbirat" preload="auto">
        <source src="~/assets/images/takberat.al3ed.mokrara-matb3aa.com.mp3" type="audio/mpeg" />
    </audio> *@

    <audio id="eidTakbirat" src="~/assets/images/takberat.al3ed.mokrara-matb3aa.com.mp3" preload="auto"></audio>

@*     <p>Ali Zakaryaaaaaaaaaaa</p> *@
    <section class="content home">

        <div class="block-header">
            <div class="row">
                <div class="col-lg-5 col-md-5 col-sm-12">
                    <h2>
                         لوحة التحكم
                    </h2>

                    <div style="position: relative; display: inline-block;">
                        <button id="notificationIcon" onclick="toggleNotifications()" style="position: relative; font-size: 24px; border: none; background: none; cursor: pointer;">
                            🔔
                            <span id="notificationCount" style="position:absolute; top:-5px; right:-10px; background:red; color:white; border-radius:50%; padding:2px 6px; font-size:12px; display:none;">0</span>
                        </button>

                        <!-- Dropdown Notification List -->
                        <div id="notificationList" style="display:none; position:absolute; right:0; top:35px; width:450px; max-height:300px; overflow-y:auto; border:1px solid #ccc; background:white; box-shadow:0px 2px 8px rgba(0,0,0,0.1); padding:10px; z-index:100;">
                            <p><i>لا توجد إشعارات</i></p>
                        </div>
                    </div>

                </div>
                <div class="col-lg-7 col-md-7 col-sm-12 text-right">
                    @*<div class="inlineblock text-center m-r-15 m-l-15 hidden-md-down">
                                <div class="sparkline" data-type="bar" data-width="97%" data-height="25px" data-bar-Width="2" data-bar-Spacing="5" data-bar-Color="#fff">3,2,6,5,9,8,7,9,5,1,3,5,7,4,6</div>
                                <small class="col-white">Visitors</small>
                            </div>
                            <div class="inlineblock text-center m-r-15 m-l-15 hidden-md-down">
                                <div class="sparkline" data-type="bar" data-width="97%" data-height="25px" data-bar-Width="2" data-bar-Spacing="5" data-bar-Color="#fff">1,3,5,7,4,6,3,2,6,5,9,8,7,9,5</div>
                                <small class="col-white">Operations</small>
                            </div>
                        <button class="btn btn-white btn-icon btn-round hidden-sm-down float-right m-l-10" type="button">
                                <i class="zmdi zmdi-plus"></i>
                            </button>*@
                    <ul class="breadcrumb float-md-right">
                        <li class="breadcrumb-item"><a href="@Url.Content("~/home/index")"><i class="zmdi zmdi-home"></i> لوحة التحكم</a></li>
                        <li class="breadcrumb-item active">@(ViewBag.activePage == null ? "الرئيسية" : ViewBag.activePage)</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            @Html.Partial("_notification")
            @RenderBody()
        </div>
    </section>
    <!-- Jquery Core Js -->
    <script src="@Url.Content("~/assets/js/libscripts.bundle.js")"></script><!-- Lib Scripts Plugin Js ( jquery.v3.2.1, Bootstrap4 js) -->
    <script src="@Url.Content("~/assets/js/vendorscripts.bundle.js")"></script> <!-- slimscroll, waves Scripts Plugin Js -->
    <script src="@Url.Content("~/assets/js/morrisscripts.bundle.js")"></script><!-- Morris Plugin Js -->
    <script src="@Url.Content("~/assets/js/jvectormap.bundle.js")"></script> <!-- JVectorMap Plugin Js -->
    <script src="@Url.Content("~/assets/js/knob.bundle.js")"></script> <!-- Jquery Knob, Count To, Sparkline Js -->
    <script src="@Url.Content("~/assets/js/mainscripts.bundle.js")"></script>
    <script src="@Url.Content("~/assets/js/index.js")"></script>
</body>
</html>
<script src="~/assets/js/layout_script.js"></script>
<!-- SignalR Library -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/7.0.5/signalr.min.js"></script>

<script>

    const connection = new signalR.HubConnectionBuilder()
        .withUrl("http://localhost:61366/farmHub")//.withUrl("http://5.189.180.190/MazareatiAPI/farmHub") //.withUrl("http://localhost:61366/farmHub")
        .withAutomaticReconnect()
        .build();

    let notificationCount = 0;
    let notificationList = [];
    debugger
    connection.on("FarmAdded", function (farm) {
        const message = `✅ تم اضافة مزرعة : ${farm.name ?? farm.Name}  (الوصف :  ${farm.locationDesc ?? farm.LocationDesc} )`;
        notificationCount++;
        notificationList.push(message);
        updateNotificationUI();
    });

    connection.start().catch(err => console.error(err));

    function updateNotificationUI() {
        const countElement = document.getElementById("notificationCount");
        const listElement = document.getElementById("notificationList");

        // Update counter
        countElement.textContent = notificationCount;
        countElement.style.display = notificationCount > 0 ? "inline-block" : "none";

        // Update list
        listElement.innerHTML = "";
        if (notificationList.length === 0) {
            listElement.innerHTML = "<p><i>لا توجد إشعارات</i></p>";
        } else {
            notificationList.forEach(n => {
                const p = document.createElement("p");
                p.innerHTML = n;
                listElement.appendChild(p);
            });
        }
    }

    function toggleNotifications() {
        const listElement = document.getElementById("notificationList");
        const countElement = document.getElementById("notificationCount");

        if (listElement.style.display === "none") {
            listElement.style.display = "block";
            // Reset count when opened
            notificationCount = 0;
            countElement.style.display = "none";
        } else {
            listElement.style.display = "none";
        }
    }
</script>
@RenderSection("Scripts", required: false)